config.env
dev.env
resources/*
!resources/FaktPro-Normal.otf
!resources/FaktPro-NormalItalic.otf
!resources/FaktPro-Bold.otf
!resources/FaktPro-BoldItalic.otf
!resources/example.mp4
!resources/acmi-1920x1080.png
!resources/blank-1920x1080.png
!resources/sample.mp4
!resources/sample.srt
!resources/sample-2.mp4
!resources/sample-2.srt
.DS_Store
.venv
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache
tests/__pycache__/

cached_playlist.json

# Ansible
ansible/inventory.ini
