config.env
dev.env
resources/*
!resources/sample.mp4
!resources/sample.srt
.DS_Store
.venv
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache
tests/__pycache__/
