[Unit]
Description=Start media-player Application
After=graphical-session.target

[Service]
Type=simple
ExecStart=/bin/bash -c "cd /home/pi/Code/media-player && ./scripts/start.sh"
RemainAfterExit=yes
Environment="PATH=%h/.local/bin:/usr/local/bin:/usr/bin:/bin"
Restart=always
TimeoutStartSec=30

[Install]
WantedBy=graphical-session.target
